<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>contingwatson-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{400,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,320}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>countingwatson-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,212},{400,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,320}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>countingwatson-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{400,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,320}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{368,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,148}}</string>
                <key>sourceSize</key>
                <string>{368,148}</string>
            </dict>
            <key>one.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{97,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,200}}</string>
                <key>sourceSize</key>
                <string>{97,200}</string>
            </dict>
            <key>three.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{162,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,212}}</string>
                <key>sourceSize</key>
                <string>{162,212}</string>
            </dict>
            <key>two.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,0},{161,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,206}}</string>
                <key>sourceSize</key>
                <string>{161,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>count down.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cf6953ff371b6497795ec145b993cdb:53d227de47e0c90b03bce38a2854cf73:a86a9c0c62b97a3925a1f00638e80d34$</string>
            <key>textureFileName</key>
            <string>count down.png</string>
        </dict>
    </dict>
</plist>
