<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>happyface-nobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>neutralface-nobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sadface-nobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>speedenemy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{820,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,770}}</string>
                <key>sourceSize</key>
                <string>{820,770}</string>
            </dict>
            <key>speedenemy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,0},{820,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,770}}</string>
                <key>sourceSize</key>
                <string>{820,770}</string>
            </dict>
            <key>speedenemy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2240,0},{820,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,770}}</string>
                <key>sourceSize</key>
                <string>{820,770}</string>
            </dict>
            <key>speedenemy-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3060,0},{820,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,770}}</string>
                <key>sourceSize</key>
                <string>{820,770}</string>
            </dict>
            <key>tallenemy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,770},{1000,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>tallenemy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,770},{1000,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>tallenemy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,770},{1000,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>tallenemy-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,770},{1000,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>tallenemy-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1770},{1000,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>tallenemy-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1770},{1000,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>watsonparade-noface-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1770},{590,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,780}}</string>
                <key>sourceSize</key>
                <string>{590,780}</string>
            </dict>
            <key>watsonparade-noface-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2590,1770},{590,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,780}}</string>
                <key>sourceSize</key>
                <string>{590,780}</string>
            </dict>
            <key>watsonparade-noface-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3180,1770},{590,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,780}}</string>
                <key>sourceSize</key>
                <string>{590,780}</string>
            </dict>
            <key>watsonparade-noface-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2770},{590,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,780}}</string>
                <key>sourceSize</key>
                <string>{590,780}</string>
            </dict>
            <key>watsonparade-noface-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2770},{590,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,780}}</string>
                <key>sourceSize</key>
                <string>{590,780}</string>
            </dict>
            <key>watsonparade-noface-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2770},{590,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,780}}</string>
                <key>sourceSize</key>
                <string>{590,780}</string>
            </dict>
            <key>watsonparade-noface-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2770},{590,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,780}}</string>
                <key>sourceSize</key>
                <string>{590,780}</string>
            </dict>
            <key>watsonparade-noface-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2360,2770},{590,780}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,780}}</string>
                <key>sourceSize</key>
                <string>{590,780}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watsonface.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15a2d747094b7941e56234b7507d34e9:7d0086bdf9cbda50cdeffb0f80a5c922:abeb6bd77904be335cf24a88523bbb0c$</string>
            <key>textureFileName</key>
            <string>watsonface.png</string>
        </dict>
    </dict>
</plist>
