<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kiararolling-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,180},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,360},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,360},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,360},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>kiararolling-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,0},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>speedenemy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,360},{205,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,193}}</string>
                <key>sourceSize</key>
                <string>{205,193}</string>
            </dict>
            <key>speedenemy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,360},{205,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,193}}</string>
                <key>sourceSize</key>
                <string>{205,193}</string>
            </dict>
            <key>speedenemy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,360},{205,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,193}}</string>
                <key>sourceSize</key>
                <string>{205,193}</string>
            </dict>
            <key>speedenemy-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,360},{205,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,193}}</string>
                <key>sourceSize</key>
                <string>{205,193}</string>
            </dict>
            <key>tallenemy-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,360},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>tallenemy-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,360},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>tallenemy-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>tallenemy-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,590},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>tallenemy-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,590},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>tallenemy-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,590},{230,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemiesforcoco.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4454effff7acfb5f3246bb74bb6a1a3f:07fc0c74bf8da32e3a6e2b0edc2055bc:03a9466883faad14f8e5be4e15c31887$</string>
            <key>textureFileName</key>
            <string>enemiesforcoco.png</string>
        </dict>
    </dict>
</plist>
