<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kiararolling-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,720},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1440},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1440},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1440},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,1440},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,1440},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2160},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2160},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2160},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,2160},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,2160},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2880},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2880},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2880},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,2880},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,0},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,0},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,0},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,720},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,720},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,720},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>kiararolling-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,720},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kiararolling.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd6ac6b47be686698a799ba6c72f0a94:8168ee3b14c9ec6a14b99431f0cebbda:628fc00b96a9552460f79b9d4e0c0822$</string>
            <key>textureFileName</key>
            <string>kiararolling.png</string>
        </dict>
    </dict>
</plist>
