<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>watsonrolling-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,900},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,900},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2700,900},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3600,900},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{4500,900},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{5400,900},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{6300,900},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{7200,900},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1800},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,0},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2700,0},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3600,0},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4500,0},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{5400,0},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{6300,0},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrolling-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{7200,0},{900,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>watsonrotation-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1800},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3750,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{4500,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{5250,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{6000,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{6750,2700},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1800},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3420},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,3420},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,3420},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,3420},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,3420},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2400,1800},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3150,1800},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3900,1800},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{4650,1800},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{5400,1800},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{6150,1800},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
            <key>watsonrotation-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{6900,1800},{750,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,720}}</string>
                <key>sourceSize</key>
                <string>{750,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watsonroll.png</string>
            <key>size</key>
            <string>{8192,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4691d579934bbb8e54339b2cf5f57df:734d161130736e03b6135f0a09c935fa:3fe1950711a78cddcde39c24bc4e5992$</string>
            <key>textureFileName</key>
            <string>watsonroll.png</string>
        </dict>
    </dict>
</plist>
