<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>watsonbounce-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1050},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1050},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,1050},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,0},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,0},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,0},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4000,0},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{5000,0},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{6000,0},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{7000,0},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonbounce-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1050},{1000,1050}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1050}}</string>
                <key>sourceSize</key>
                <string>{1000,1050}</string>
            </dict>
            <key>watsonjump-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4000,1050},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{5000,2350},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{6000,2350},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{7000,2350},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3650},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,3650},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,3650},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,3650},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{4000,3650},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{5000,3650},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{6000,3650},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{5000,1050},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{7000,3650},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,4950},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,4950},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,4950},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,4950},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{4000,4950},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{5000,4950},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{6000,4950},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{7000,4950},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,6250},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{6000,1050},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{7000,1050},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2350},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2350},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2350},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3000,2350},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
            <key>watsonjump-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{4000,2350},{1000,1300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1300}}</string>
                <key>sourceSize</key>
                <string>{1000,1300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watsonjumppp.png</string>
            <key>size</key>
            <string>{8192,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a5c685f0144fd62d569c3aac51fbc59:216b8f9ba777fe195511efc2f1f88b6b:38af68debbf823b7832ffda63de74008$</string>
            <key>textureFileName</key>
            <string>watsonjumppp.png</string>
        </dict>
    </dict>
</plist>
