<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>happyface-nobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>neutralface-nobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sadface-nobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>watsonjump-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,0},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,0},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,0},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,286},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,286},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,286},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,286},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,286},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,286},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,286},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,286},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,572},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,572},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,572},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,572},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,572},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,572},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,572},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,572},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,858},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,858},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,858},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,858},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,858},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,858},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,858},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonjump-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,858},{220,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,286}}</string>
                <key>sourceSize</key>
                <string>{220,286}</string>
            </dict>
            <key>watsonparade-noface-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{148,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,195}}</string>
                <key>sourceSize</key>
                <string>{148,195}</string>
            </dict>
            <key>watsonparade-noface-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{148,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,195}}</string>
                <key>sourceSize</key>
                <string>{148,195}</string>
            </dict>
            <key>watsonparade-noface-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{148,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,195}}</string>
                <key>sourceSize</key>
                <string>{148,195}</string>
            </dict>
            <key>watsonparade-noface-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{148,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,195}}</string>
                <key>sourceSize</key>
                <string>{148,195}</string>
            </dict>
            <key>watsonparade-noface-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,0},{148,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,195}}</string>
                <key>sourceSize</key>
                <string>{148,195}</string>
            </dict>
            <key>watsonparade-noface-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,0},{148,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,195}}</string>
                <key>sourceSize</key>
                <string>{148,195}</string>
            </dict>
            <key>watsonparade-noface-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,0},{148,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,195}}</string>
                <key>sourceSize</key>
                <string>{148,195}</string>
            </dict>
            <key>watsonparade-noface-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,0},{148,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,195}}</string>
                <key>sourceSize</key>
                <string>{148,195}</string>
            </dict>
            <key>watsonrolling-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,858},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1144},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1144},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1144},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1144},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1144},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1144},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1144},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1144},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1144},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1369},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1369},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1369},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1369},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1369},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1369},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1369},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1369},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>watsonrolling-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1369},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>watsonforcoco.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2acb313fe84601fa7b5197d5adf72335:deccaddc01b808042c6b1d0bdd951cb8:6788408bcd67f9046bb2c1638bf12824$</string>
            <key>textureFileName</key>
            <string>watsonforcoco.png</string>
        </dict>
    </dict>
</plist>
